
<button mat-raised-button data-facebook (click)="social('facebook')" *ngIf="!isEmail">
  <i class="fa fa-facebook"></i>
  Sign up with Facebook
</button>
<button mat-raised-button data-twitter (click)="social('twitter')" *ngIf="!isEmail">
  <i class="fa fa-twitter"></i>
  Sign up with Twitter
</button>
<button mat-raised-button data-email (click)="social('email')" *ngIf="!isEmail">
  <i class="fa fa-envelope"></i>
  Register with email and password
</button>
<button mat-raised-button data-button (click)="onBack(true)" *ngIf="!isEmail">
  Back
</button>

<form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="isEmail">

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-error *ngIf="error?.email?.required; else else1">
      <mat-error *ngIf="error?.email?.required">This is required.</mat-error>
    </mat-error>
    <ng-template #else1>
      <mat-error *ngIf="error?.email?.email">Invalid email</mat-error>
    </ng-template>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="error?.password?.required; else else2">
      <mat-error *ngIf="error?.password?.required">This is required.</mat-error>
    </mat-error>
    <ng-template #else2>
      <mat-error *ngIf="error?.password !== null">Password must be greater than 6 characters</mat-error>
    </ng-template>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Display</mat-label>
    <input matInput type="text" formControlName="display">
    <mat-error *ngIf="error?.display?.required; else else3">
      <mat-error *ngIf="error?.display?.required">This is required.</mat-error>
    </mat-error>
    <ng-template #else3>
      <mat-error *ngIf="error?.display !== null">Display must be greater than 5 characters</mat-error>
    </ng-template>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>User type</mat-label>
    <mat-select formControlName="type">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let item of [ 'a', 'b', 'c', 'd' ]" [value]="item">{{ item }}</mat-option>
    </mat-select>
    <mat-error *ngIf="error?.type?.required">This is required.</mat-error>
  </mat-form-field>

  <button mat-raised-button type="submit">REGISTER</button>
  <button mat-raised-button type="button" (click)="onBack(false)">BACK</button>
</form>
